# H1 Big Data - Term Assignment 1
__Prof. Dr. Fabian Transchel, Hochschule Harz, 29.04.2021__
ftranschel@hs-harz.de

Submission due May 30, 12pm CEST. (Hand in via e-Mail to ftranschel@hs-harz or upload to StudIP.)

## Assignment and Logistics

__Grading__

The present assigment will be 40% of the overall grade of the course. The second assignment will comprise the other 60% of the grade.

__Preface and data generation__

The assigment is comprised of a set of questions being posed on a dataset created on the fly in the preface of this Jupyter notebook. The code may not be altered and the random seed must stay the same. On top of that, the dataset is saved to disc so if you would want to use the R language instead of Python, the dataset may be imported into R.

The submission must follow these guidelines: If written in the Python language, it is highly suggested to keep the notebook format. If notebook is not kep, the submitted code must be executable nonetheless. Each line of code and/or expression is to be explained in sufficient detail.

## Dataset preparation
<div style="font-weight:bold; color:red;">DO NOT ALTER THIS SECTION</div>

The purpose of this section is to create a substantially big (albeit synthetic) dataset without necessity to store or download it on the internet. It shall reside on your local machine only. To this end, it is absolutely mandatory you do not change the random seed to ensure correctness of the created dataset.

We will synthesize a big customer database with some structured as well as unstructured parts. You will then be tasked to answer questions about this dataset.

In [57]:
import numpy as np
import pandas as pd
import time

prng = np.random.RandomState(987654321) # Do NOT change this
df_users = pd.DataFrame(columns = ["ID","Surname","Name","Age","Subscription Date"])
number = 100000
names = ["Hans","Jordi","Franz","Timothy","Agaba","Ali","Sarah","Josie","Robert","Francine","Anna","Zoe","Simon","Thomas","Andreas","Alok","Lee","Jean-Luc"]
surnames = ["Mueller","Meier","Smith","Gwahsi","Thronton","Wellington","Stephenson","Pomme","Di Lillo","Bond","Kirk","Picard","Roth","Beierlorzer"]

def normalize_age(age,lower=16.0,upper=99.0):
    if(age < lower):
        return lower
    elif(age > upper):
        return upper
    return age

start = time.time()
userid = list(range(1,number+1))
surname = prng.choice(surnames,number)
name = prng.choice(names,number)
age = prng.normal(35.,10.,number)
# Normalize age to between 16 and 99:
na = np.vectorize(normalize_age)(age) # ok, but slow
sub_date = 1588150183 + prng.normal(10000.,5000.,number)
df_users = pd.DataFrame(np.array([userid,surname,name,na,sub_date]).T.tolist())
df_users.columns = ['ID','Surname','Name','Age','Subscription_Date']
print(df_users.info())

df_users.to_csv("user_table.csv") # You may import this file to R if you wish to work with that language.

# Next, we will create a set of posts for each user. To this end, we will synthesize text from the "Lorem_ipsum.txt" file.

with open("Lorem_ipsum.txt") as f:
    content = f.readlines()
# you may also want to remove whitespace characters like `\n` at the end of each line
content = [x.strip() for x in content]

post_number = 1000000
post_id = list(range(1,post_number+1))
snippet_index = list(range(len(content)))
posts = prng.choice(snippet_index,post_number,replace=True)
posts_uids = prng.randint(1,number,post_number)
posts_date = 1588150183 + 5000000 + prng.normal(100000.,50000.,post_number)
posts_content = [ content[i] for i in posts]
df_posts = pd.DataFrame(np.array([post_id,posts_uids,posts_content,posts_date]).T.tolist())
df_posts.columns = ['PostID','UserID','Content','Timestamp']
df_posts.info()
df_posts.to_csv("postings_table.csv")
end = time.time()
print("Data Generation took ",(end - start)," seconds.")

## This is the end of the data generation.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 100000 non-null  object
 1   Surname            100000 non-null  object
 2   Name               100000 non-null  object
 3   Age                100000 non-null  object
 4   Subscription_Date  100000 non-null  object
dtypes: object(5)
memory usage: 3.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   PostID     1000000 non-null  object
 1   UserID     1000000 non-null  object
 2   Content    1000000 non-null  object
 3   Timestamp  1000000 non-null  object
dtypes: object(4)
memory usage: 30.5+ MB
Data Generation took  39.27254319190979  seconds.

In [78]:
df_users.head()

  ID     Surname    Name                Age   Subscription_Date
0  1       Pomme  Thomas  41.73935853733947  1588157171.1168716
1  2       Smith    Alok  54.83159935486658  1588167787.4536881
2  3       Pomme  Thomas  30.86899706338393   1588154407.929673
3  4  Stephenson     Zoe  22.96813536200718   1588159018.037303
4  5     Mueller  Robert  33.13719431632408  1588163405.8847194

In [80]:
df_posts.head()

,PostID,UserID,Content,Timestamp
0,1,87939,"Ut wisi enim ad minim veniam, quis nostrud exe...",1593273255.028971
1,2,39527,"Ut wisi enim ad minim veniam, quis nostrud exe...",1593265232.6049256
2,3,44380,Nam liber tempor cum soluta nobis eleifend opt...,1593277164.7842274
3,4,51170,"Ut wisi enim ad minim veniam, quis nostrud exe...",1593262804.0625734
4,5,73516,"Consetetur sadipscing elitr, sed diam nonumy e...",1593163351.6601837

# Tasks

## Task 1

* __What is the number of unique name combinations?__

* __Who is the oldest user, who is the youngest?__

## Task 2

* __Who is the user with most postings?__
* __Who has the least amount of postings?__
* __Which user has "written" most words?__
* __Which one has written the least?__